<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Edit User</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    <div align="center">
        <div th:if="${success}" class="alert alert-success" th:text="${success}"></div>
        <h1>Edit User</h1>
        <br />
        <form th:action="@{/save}" th:object="${user}" method="post">
            <table border="0" cellpadding="10">
                <tr>
                    <input type="hidden" th:field="*{id}" />
                    <input type="hidden" th:field="*{password}" />
                    <td>User:</td>
                    <td>
                        <input type="text" th:field="*{username}" readonly="readonly" />
                    </td>
                </tr>
                <tr>
                    <td>Name:</td>
                    <td>
                        <input type="text" th:field="*{name}" readonly="readonly" />
                    </td>
                </tr>
                <tr>
                    <td>Surname:</td>
                    <td>
                        <input type="text" th:field="*{surname}" readonly="readonly" />
                    </td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td>
                        <input type="text" th:field="*{gender}" readonly="readonly" />
                    </td>
                </tr>
                <tr>
                    <td>Age:</td>
                    <td>
                        <input type="number" th:field="*{age}" class="form-control" min="15" required />
                    </td>
                </tr>
                <tr>
                    <td>Height (m):</td>
                    <td>
                        <input type="number" th:field="*{height}" class="form-control" step="any" min="1.10" max="2.5" required />
                    </td>
                </tr>
                <tr>
                    <td>Weight (kg):</td>
                    <td>
                        <input type="number" th:field="*{weight}" class="form-control" step="any" required />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                     <button type="submit" class="btn ml-2" style="background-color:#800080; color:white;">Save Changes</button>
                    <a href="/" class="btn ml-2" style="background-color:#800080; color:white;">Go back to BMI History</a>
                </td>
             </tr>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>